<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiang.data.mapper.PartenSrveiwMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yixiang.data.entity.PartenSrveiw">
    <result column="id" property="id" />
        <result column="parten_nm" property="partenNm" />
        <result column="srtime" property="srtime" />
        <result column="partem_zh" property="partemZh" />
        <result column="parten_sr" property="partenSr" />
        <result column="parten_zh_bs" property="partenZhBs" />
        <result column="COLUMN1" property="column1" />
        <result column="COLUMN2" property="column2" />
        <result column="COLUMN3" property="column3" />
        <result column="COLUMN4" property="column4" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        parten_nm, srtime, partem_zh, parten_sr, parten_zh_bs, COLUMN1, COLUMN2, COLUMN3, COLUMN4
    </sql>

</mapper>
