<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiang.data.mapper.tdCompositeViewProvinceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yixiang.data.entity.StdCompositeViewProvince">
    <result column="id" property="id" />
        <result column="report_place" property="reportPlace" />
        <result column="abscissa_axis" property="abscissaAxis" />
        <result column="vertical_axis_a" property="verticalAxisA" />
        <result column="vertical_axis_b" property="verticalAxisB" />
        <result column="column1" property="column1" />
        <result column="column2" property="column2" />
        <result column="column3" property="column3" />
        <result column="column4" property="column4" />
        <result column="batch_code" property="batchCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        report_place, abscissa_axis, vertical_axis_a, vertical_axis_b, column1, column2, column3, column4, batch_code
    </sql>

</mapper>
