<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixiang.data.mapper.UploadLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yixiang.data.entity.UploadLog">
        <result column="upload_moudel" property="uploadMoudel" />
        <result column="upload_status" property="uploadStatus" />
        <result column="cr_time" property="crTime" />
        <result column="cr_user" property="crUser" />
        <result column="bacth_code" property="bacthCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        upload_moudel, upload_status, cr_time, cr_user, bacth_code
    </sql>

</mapper>
